<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "baner_logo.jpg", class: "first-slide center_slide", alt: "First slide" %>

    </div>
    <div class="item">
      <%= image_tag "baner_kosm.jpg", class: "second-slide center_slide" , alt: "Second slide" %>

    </div>
    <div class="item">
      <%= image_tag "baner_wlosy.jpg", class: "third-slide center_slide",  alt: "Third slide" %>

    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->
