<div id="contact" class="container-fluid">
  <div class="col-md-5">
    <h2 class="featurette-heading">Kontakt <br><span class="text-muted"> Zadzwoń i umów się na wizytę</span></h2>
    <br>
    <p class="lead glyphicon glyphicon-phone-alt"> (76)  852 21 73 <br> ul. Matejki 3b/2 <br>59-200 Legnica</p>
  </div>
  <div class="col-md-7">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9999.172549019984!2d16.1514566!3d51.2044633!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x15ab7a806879b093!2sJ%C3%B3zefina.+Salon+urody.+Dziuda+B.!5e0!3m2!1spl!2spl!4v1452518205183" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
