<footer>
  <div class="row">
    <div class="col-md-10">
      <p>&copy; 2016 Józefina &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
    <div class='col-md-2'>
      <% if current_user %>
        <%= link_to "Wyloguj się", logout_path, method: :delete, class: "btn btn-default text-right" %>
      <% else %>
        <%= link_to "Logowanie", login_path, class: "btn btn-default text-right" %>
      <% end%>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function($){
      $('body').scrollspy({target: ".navbar", offset: 50});
      $("#myNavbar a").on('click', function(event){
        event.preventDefault();
        var hash = this.hash;
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function(){
          window.location.hash = hash;
        });
      });
    });
  </script>
</footer>
