<div class="navbar-wrapper navbar-fixed-top">
  <div class="container">
    <div class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">Salon Urody "Józefina"</a>
        </div>
        <div id="myNavbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#index">Home</a></li>
            <li><a href="#about">O nas</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zabiegi<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#treatments">Zabiegi Kosmetyczne</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Zabiegi Fryzjerskie</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cennik<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#pricing">Cennik Usług Kosmetycznych</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Cennik Usług Fryzjerskich</a></li>
              </ul>
            </li>
            <li><a href="#galerie">Galerie</a></li>
            <li><a href="#contact">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
