<div id="pricing" class="container-fluid">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Cennik. <span class="text-muted">Płać i wymagaj.</span></h2>
    <p class="lead">Mikrodermabrazja ..................... 299 zł
    <br>
    Mikrodermabrazja ..................... 299 zł
    <br>
    Mikrodermabrazja ..................... 299 zł
    <br>
    Mikrodermabrazja ..................... 299 zł
    <br>
    Mikrodermabrazja ..................... 299 zł
    <br>
    Mikrodermabrazja ..................... 299 zł
    <br>
    Mikrodermabrazja ..................... 299 zł
    <br>
    Mikrodermabrazja ..................... 299 zł
    </p>
  </div>
  <div class="col-md-5 col-md-pull-7">
  <%= image_tag "cennik.png", class: "featurette-image img-responsive" %>
  </div>
</div>
